# IDE & OS files
.*.swp
.DS_Store
.buildpath
.idea
.project
.settings
Thumbs.db
nbproject

# Binaries
chkipper.phar
composer.phar
ocular.phar
php-cs-fixer.phar
phpstan.phar
phpunit-skelgen.phar
phpunit.phar

# local config
/.env
/docker-compose.local.yml

# evolving files
/vendor
/composer.lock
/node_modules

package.json
package-lock.json
